<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>947237863687-gh9b0e36jqj7ch71jlntpg1i4j1365ci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947237863687-gh9b0e36jqj7ch71jlntpg1i4j1365ci</string>
	<key>API_KEY</key>
	<string>AIzaSyAN6g3yWDoEWMRgoaxhka15E38c_muuv78</string>
	<key>GCM_SENDER_ID</key>
	<string>947237863687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tinderclone</string>
	<key>PROJECT_ID</key>
	<string>ekunitsa-tinderclone</string>
	<key>STORAGE_BUCKET</key>
	<string>ekunitsa-tinderclone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947237863687:ios:145d66de822b3c65</string>
	<key>DATABASE_URL</key>
	<string>https://ekunitsa-tinderclone.firebaseio.com</string>
</dict>
</plist>